/*reset browser*/
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/*init layout*/
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background-color: beige;
}

h1 {
    font-size: 2em;
    margin: 24px 0;
    color: olive;
}

/*navbar*/
.navbar{
    background-color: olive;
}

    /*brand*/
    .navbar-header .navbar-brand {
    color: beige;
    }
    .navbar-header .navbar-brand:hover {
        color: orange;
    }

    /*hamburger button*/
    .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
        border: 1px solid beige;
        background-color: olive;
    }
    .navbar-header button.navbar-toggle:focus{
        background-color: orange;
    }

    /*items*/
    .navbar-collapse li {
        text-align: center;
    }
    .navbar-default .navbar-nav>li>a {
        color: beige;
    }
  
/*content*/
#main-content .row {  /*section*/
    padding: 16px;
}
.row section {
    padding: 8px;
}
.card-content {
    position: relative;
    background-color: olive;
    margin: 0 auto 16px;
    padding: 32px;
    color: beige;
    box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.5);
}
.card-text {
    margin-bottom: 24px;
}
.card-content a {
    position: absolute;
    bottom: 0;
    right: 0%;
    color: olive;
    padding: 8px;
    background-color: beige;
}
.card-content a:hover {
    color: beige;
    padding: 8px;
    background-color: orange;
}

/********** xs devices only **********/
@media (max-width: 767px) {
    /*content*/
    #main-content .row {  
    padding: 4em;
    }
}